/lib/lnagb.equations.*js
/lib/lnagb.matrices.*js
/lib/lnagb.vectors.*js
/lib/umd/
/coverage/
node_modules/
/media/**/breakpoints
/media/**/inkscape-svg
/web/media/**/breakpoints
/web/media/**/inkscape-svg
/_site/
/bundle/
