<table>
	<thead>
		<tr>
			<th style="text-align: center">File / Class</th>
			<th style="text-align: left">Description</th>
		</tr>
	</thead>
	<tbody>
		{% assign algebra = site.data.algebra | sort: "name" %}
		{% for object in algebra %}
			<tr>
				<td style="text-align: center">
					<a href="{{ '/docs/algebra' | absolute_url }}/{{ object.name }}">
						<code>{{ object.name }}</code>
					</a>
				</td>
				<td style="text-align: left">
					{{ object.description | markdownify | remove: '<p>' | remove: '</p>' }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
